*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: rgb(29, 29, 28);
    background-color: hsl(268, 84%, 13%);
}
.calculator-body{
    margin: 10vh auto;
    width: 300px;
    padding: 15px;
    background-color: hsl(268, 47%, 21%);
}
.answer-view{
    margin-bottom: 20px;
    background-color: hsl(281, 89%, 26%);
    border-radius: 5px;
    padding: 10px;
    height: 64px;
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    padding-top: 15px;
}
.buttons-container{
    background-color: hsl(281, 89%, 26%);
    padding: 10px;
}
.buttons-container div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;


}
.buttons-container button{
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    color: yellow;
    background-color: hsl(281, 82%, 19%);
}

.regular-btn{
    width: 50px;
}
.regular-btn:hover{
    background-color: hsl(281, 68%, 33%);
    color: white;
}

.large-btn{
    width: 116px;
}
.large-btn:hover{
    background-color: orange;
    color: black;
}
